@model GestionEmployes.Models.Operations


@{
    ViewData["Title"] = "Details";
    Layout = null;

}

<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">




       
<div class="text-center">
    <div class="card text-center">
        <div class="card-body">

            <img src="~/uploads/@Model.imageUrl" alt="user-img" title="user-img" class="rounded-circle avatar-lg img-thumbnail">
            <h4 class="mb-0 mt-2">@Model.FullNameChef</h4>
            <p class="text-muted font-14">@Model.Type</p>

            <div class="text-start mt-3">

                <p class="text-muted mb-2 font-16">

                    <strong>CIN :</strong>

                    <span class="ms-2"> @Model.CIN</span>
                </p>

                <p class="text-muted mb-2 font-16">

                    <strong>Desgination :</strong>

                    <span class="ms-2"> @Model.Disgination</span>
                </p>

                <p class="text-muted mb-2 font-16">

                    <strong>Prix unitaire :</strong>

                    <span class="ms-2"> @Model.Prix</span>
                </p>
                <p class="text-muted mb-2 font-16">

                    <strong>Quantite :</strong>

                    <span class="ms-2"> @Model.Qtt / @Model.typeUnite</span>
                </p>
                <p class="text-muted mb-2 font-16">

                    <strong>Status :</strong>

                    <span class="ms-2"> @Model.Status</span>
                </p>

                <p class="text-muted mb-2 font-16">

                    <strong>Date d'operation :</strong>

                    <span class="ms-2"> @Model.Date_operation</span>
                </p>
            </div>

            <br />
            <input onclick="hideModalLayout()" class="btn btn-secondary text-white" value="Retour à la list" />


        </div>
    </div>
</div>
        <script src="~/JavaScript/myjs.js"></script>
        <div class="rightbar-overlay"></div>











