@model GestionEmployes.Models.Overier

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>
    <br />
    <hr />
    <div class="row container">
        <div class="col">
            <hr />
            @if (Model.ImageUrl != null)
            {
                <img id="imgOverier" src="~/Uploads/@Model.ImageUrl" class="img-thumbnail" alt="" />
            }

        </div>*@
@*<div class="col" style="position:relative;top:40px;">
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <br />
        <br />*@
@*<dt class="col-sm-2">
        Nom
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>*@
@*<br />
    <br />
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Prenom)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Prenom)
    </dd>
    <br />
    <br />*@
@*<dt class="col-sm-2">
        Adresse
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Adress)
    </dd>
    <br />
    <br />*@
@*<dt class="col-sm-2">
        Téléphone
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Tel)
    </dd>
    <br />
    <br />*@
@*<dt class="col-sm-2">
        Date d'embauche
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Date_embauche))
    </dd>
    <br />
    <br />*@
@*<dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CIN)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CIN)
    </dd>
    <br />
    <br />*@
@*<dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Sexe)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Sexe)
    </dd>
    <br />
    <br />
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Type)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Type)
    </dd>
    <br />
    <br />*@

@*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <br />
                <br />
                <dt class="col-sm-2">
                    Mot de passe
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Password)
                </dd>
                <br />
                <br />
            </dl>
        </div>
    </div>
    <br />
    <div class="row container">

        <a asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-info col-md-5">Modifier</a>&nbsp;&nbsp;&nbsp;
        <a asp-action="Index" class="btn btn-outline-info col-md-5">Retour a la List</a>
    </div>*@

<!-- App css -->
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
<link href="assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

<h2 class="page-title text-center">DETAIL</h2>


    

            <div class="row container">
                <div class=" col-lg-6 container">
                    <div class="card text-center">
                        <div class="card-body ">
                            <img src="~/Uploads/@Model.ImageUrl" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">

                            <h4 class="mb-0 mt-2">Soeng Souy</h4>
                            <p class="text-muted font-14">Founder</p>



                            <div class="text-start mt-4 container">

                                <p class="text-muted mb-2 font-13">

                                    <strong>Nom :</strong>

                                    <span class="ms-2">  @Html.DisplayFor(model => model.Name) </span>
                                </p>

                                <p class="text-muted mb-2 font-13">

                                    <strong>Prenom :</strong>

                                    <span class="ms-2"> @Html.DisplayFor(model => model.Prenom) </span>
                                </p>


                                <p class="text-muted mb-2 font-13">

                                    <strong>Adresse :</strong>

                                    <span class="ms-2">  @Html.DisplayFor(model => model.Adress) </span>
                                </p>


                                <p class="text-muted mb-2 font-13">

                                    <strong>Téléphone :</strong>

                                    <span class="ms-2"> @Html.DisplayFor(model => model.Tel) </span>
                                </p>


                                <p class="text-muted mb-2 font-13">

                                    <strong>Date d'embauche :</strong>

                                    <span class="ms-2"> @Html.DisplayFor(model => model.Date_embauche) </span>
                                </p>

                                <p class="text-muted mb-2 font-13">

                                    <strong>CIN :</strong>

                                    <span class="ms-2"> @Html.DisplayFor(model => model.CIN) </span>
                                </p>

                                <p class="text-muted mb-2 font-13">

                                    <strong>Sexe :</strong>

                                    <span class="ms-2"> @Html.DisplayFor(model => model.Sexe) </span>
                                </p>

                                <p class="text-muted mb-2 font-13">

                                    <strong>Type :</strong>

                                    <span class="ms-2"> @Html.DisplayFor(model => model.Type) </span>
                                </p>

                                <p class="text-muted mb-2 font-13">

                                    <strong>E-mail :</strong>

                                    <span class="ms-2"> @Html.DisplayFor(model => model.Email) </span>
                                </p>

                                <p class="text-muted mb-2 font-13">

                                    <strong>Mot de passe :</strong>

                                    <span class="ms-2"> @Html.DisplayFor(model => model.Password) </span>
                                </p>
                            </div>
                            <br /><br />

                            <a asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-success btn-sm mb-2">Modifier</a>
                            <a  asp-action="Index" class="btn btn-secondary btn-sm mb-2">Retour à la list</a>


                        </div> <!-- end card-body -->
                    </div> <!-- end card -->



                </div>
                <!-- end row-->

            </div>
            <!-- content -->


<div class="rightbar-overlay"></div>

<script src="assets/js/vendor.min.js"></script>
<script src="assets/js/app.min.js"></script>
