@model IEnumerable<GestionEmployes.Models.G_Stock.Commande>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">LES COMMANDES</h1>
<hr />
<br />
<div class="row container">

    <a asp-action="Create" class="btn btn-success btn-lg col">NOUVEAU COMMANDE</a>&nbsp;&nbsp;&nbsp;

    <button type="button" asp-action="Delete" class="btn btn-danger btn-lg col" data-toggle="modal" data-target="#Supprission">
        SUPPRIMER TOUS!
    </button>
</div>
<br />
<br />
<br />
<!-- Modal -->
<div class="modal fade" id="Supprission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprission!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment effacer tous les opérations?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <button type="submit" class="btn btn-danger">OUI</button>
                    <button type="button" asp-action="Index" class="btn btn-outline-success" data-dismiss="modal">NON</button>
                </form>
            </div>
        </div>
    </div>
</div>
@*@if (ViewBag.QttDanger != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.QttDanger
        </div>
    }*@
<table class="table">
    <thead>
        <tr>
            <th>
                PRODUIT
            </th>
            <th>
                CATEGORIE
            </th>
            <th>
                PRIX
            </th>
            <th>
                QUANTITE
            </th>
            <th>
                DATE D'OPERATION
            </th>
            <th>
                ETAT DE COMMANDE
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.produit.Desgination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produit.Categorie.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produit.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtt_Diduir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_operation)
            </td>

            @if (!item.Etat)
            {
                         <td class="bg-danger text-white">

                                        Pas accepté
                                      </td>
            }
            else
            {
                                 <td class="bg-success text-white">

                                              Accepté
                                              </td>
            }

        </tr>
        }
    </tbody>
</table>
